.dot {
  height: 100px;
  width: 100px;
  background-color: #0C2340;
  border-radius: 50%;
  display: inline-block;
  opacity: 0.7;
  line-height: 100px;
  text-align: center;
}
.dot:hover{
  opacity: 1.0;

}

.cell {
  float: center; /*Add this*/
  margin-right: 9px; /*Add this*/
}

.circle {
  height: 500px;
  width: 500px;
  background-color: #0C2340;
  display: inline-block;
  border-radius:150px;
  opacity: 1.0;
  line-height: 500px;
  text-align:center;
}

.circle-text {
  font-family:helvetica;
  color:white;
  font-size:40px;
  text-decoration: none;
}
